.autocomplete-dropdown-container {
    position: absolute;
    z-index: 2;
    background-color: white;
    cursor: pointer;
}

.autocomplete-suggetions {
    background-color: inherit;
    margin: auto;
    padding: 0.5rem;
}